<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{{title}}{% block subtitle %}{% endblock %}</title>
    <link rel="canonical" href="{{site-url}}{{uri}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lora|Nothing+You+Could+Do|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/default.min.css">
    {% style "css/screen.css" %}
</head>
<body>
  <div id="header">{{author}}</div>
  <div id="content">
      {% block content %}
      {% endblock %}
  </div>
  {% script "js/highlight.pack.js" %}
  <script>hljs.initHighlightingOnLoad();</script>
  {% if post.klipse %} {{post.klipse|safe}} {% endif %}
  {% if page.klipse %} {{page.klipse|safe}} {% endif %}
</body>
</html>
